/* Reset some default styles */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Header styles */
header {
  background-color: #c6892d;
  color: #ffffffdd;
  padding: 20px;
  text-align: center;
  position: relative;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

/* Potato image styles */
.potato-image {
  width: auto;
  height: 70vh;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  border-style: solid;
  border-color: beige;
  border-width: 10px;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 2em;
  color: #ff9800;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}

/* Footer styles */
footer {
  background-color: #c6892d;
  color: #ffffffdd;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
